body {
  background-image: url("New_map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 618px;
  height: 783px;
  background-color: white;
}

h1 {
  margin: auto;
  color: #000;
  font-family: sans-serif;
  font-size: 61px;
  font-style: normal;
  justify-content: center;
  text-align: center;
  padding-top: 102px;
  margin-bottom: 24px;
}

input[type="text"] {
  padding-left: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  margin-left: 69px;
  width: 482px;
  height: 51px;
  flex-shrink: 0;
  background: #f0f0f0;
  border-radius: 10px;
}

input[type="password"] {
  padding-left: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  margin-left: 69px;
  width: 482px;
  height: 51px;
  flex-shrink: 0;
  background: #f0f0f0;
  border-radius: 10px;
}

.placeholder {
  width: 80px;
  height: 3px;
  flex-shrink: 0;
  color: #b8b8b8;
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 149.023%; /* 19.373px */
}
.custom-checkbox {
  margin-top: 20px;
  margin-bottom: 4em;
  position: relative;
  margin-left: 76px;
  display: inline-block;
  width: 5%;
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  font-size: 25px;
}
.custom-checkbox input:checked + .checkmark:after {
  content: "\2713";
  display: block;
  font-size: 1rem;
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 3px;
}
#checkbox {
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
}

.button {
  cursor: pointer;
  display: flex;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 273px;
  margin-top: 238px;
  border-radius: 30px;
}

.button1:hover {
  background-color: grey;
  color: white;
}

.a-jos {
  margin-top: 38px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.a-jos1 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 10px;
}
